<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola ejs</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
    <% var fecha=new Date(); %>
        <h1>Bienvenido a mi aplicación con EJS</h1>
        <h2> La fecha es <%=fecha %>
        </h2>

        <form action="/estudiantes" method="POST">
            <input type="text" name="id" placeholder="Ingresa el ID" /><br>
            <input type="text" name="nombre" placeholder="Ingresa el nombre" /><br>
            <input type="submit" />
        </form>

        <table class="table">

            <head>
                <th>ID</th>
                <th>Nombre</th>
                <th>Aprobado</th>
                <th>Operaciones</th>
            </head>
            <tbody>
                <% for(var i=0; i<listaEstudiantes.length;i++){ %>
                    <tr>
                        <td>
                            <%=listaEstudiantes[i].id %>
                        </td>
                        <td>
                            <%=listaEstudiantes[i].nombre %>
                        </td>
                        <td>
                            <%=listaEstudiantes[i].aprobado %>
                        </td>
                        <td>
                            <a href="#" class="btn btn-success">Aprobar</a>
                            <a href="/estudiantes/" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    <% } %>
                        <script src="js/jquery-3.5.1.slim.min.js"></script>
                        <script src="js/popper.min.js"></script>
                        <script src="js/bootstrap.min.js"></script>
            </tbody>
        </table>
</body>

</html>